#conductor_dashboard
  .title
    %h1 Conductor Statistics
    .generated= "Generated on #{Time.now}"

  .top_nav= render :file => 'dashboard/_top_nav'
  #weights= render :file => 'dashboard/_current_weights'
  #group_stats= render :file => 'dashboard/_group_stats'
  #dailies= render :file => 'dashboard/_daily_stats'
  #history= render :file => 'dashboard/_weight_history'

          