#conductor_dashboard
  .title
    %h1 Conductor Statistics
    .generated= "Generated on #{Time.now}"

  .top_nav= render :file => 'conductor/dashboard/_top_nav'
  #weights= render :file => 'conductor/dashboard/_current_weights'
  #group_stats= render :file => 'conductor/dashboard/_group_stats'
  #dailies= render :file => 'conductor/dashboard/_daily_stats'
  #history= render :file => 'conductor/dashboard/_weight_history'

          