#conductor_dashboard
  #weights
    - @weights.group_by(&:group_name).each do |group_name, group|
    .group
      %fieldset
        %legend= group_name
        = group.each do |row|
          .name= row.alternative
          .weight= row.weight
          
  #dailies
    - @dailies.group_by(&:group_name).each do |group_name, group|
      .group
        %fieldset
          %legend= group_name
          = group.sort_by(&:activity_date).each do |row|
            .date= row.activity_date
            .name= row.alternative
            .views= row.views
            .conversions= row.conversions
            .value= row.conversion_value
            
  #history
    - @weight_history.group_by(&:group_name).each do |group_name, group|
      .group
        %fieldset
          %legend= group_name
          = group.sort_by(&:computed_at).reverse.each do |row|
            .date= row.computed_at
            .name= row.alternative
            .weight= row.weight
            
              